<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCh7SFz7pPLkgd_cA9kFS-xGaVZG6c7bnI</string>
	<key>GCM_SENDER_ID</key>
	<string>123907711618</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.official.roaders</string>
	<key>PROJECT_ID</key>
	<string>roaders-fb</string>
	<key>STORAGE_BUCKET</key>
	<string>roaders-fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:123907711618:ios:40ee505e104d9257324a9b</string>
</dict>
</plist>